@import '../../scss/mixins';

.card {
  width: 100%;
  margin-bottom: 2rem;
}

.img {
  width: 100%;
  border-radius: var(--border--radius--1);
  object-fit: cover;
}

.text {
  position: relative;
  padding-bottom: 3rem;
  width: 100%;
  p {
    margin: 1rem 0;
  }
}

h2 {
  display: flex;
  align-items: center;
}

.link {
  color: var(--clr--active--1);
  margin-right: 1rem;
  @include focus-visible;
}

.subtitle {
  color: var(--foreground--2);
  display: flex;
  align-items: center;
  padding-right: 1rem;
  svg {
    margin-right: 0.5rem;
  }
}

@include breakpoint-up(laptop) {
  .card {
    display: flex;
    // align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .img {
    margin-left: 2rem;
    max-width: 15rem;
  }

  .sub {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-top: 2rem;
  }
}
