@import '../../scss/main.scss';

.btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3rem 0.5rem;
  background-color: var(--background--3);
  color: white;
  border-radius: var(--border--radius--1);
  display: flex;
  align-items: center;
  text-transform: capitalize;
  svg {
    margin-right: 0.5rem;
  }

  &:focus-visible {
    box-shadow: 0px 0px 0px 3px var(--clr--active--1);
  }
}

.markdown {
  background-color: var(--background--1);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  z-index: var(--zindex--markdown);
}

.header {
  display: flex;
  justify-content: space-between;

  svg {
    font-size: 3rem;
  }
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border--radius--1);
  transition: 0.3s;
  @include focus-visible;
}
