@import '../../scss/mixins';

.buttons {
  display: flex;
  margin: auto;

  button {
    margin-right: 1rem;
  }
}

.fields {
  @include breakpoint-up(laptop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;

    input {
      margin: 0;
    }

    .textarea {
      grid-column: 1 / 3;
    }
  }
}

.textarea {
  position: relative;
}
